<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">This is a list of products</h1>
    </div>
    <div class="">
        <button type="button" class="btn btn-primary"
            [routerLink]="['/products', 0]">Add New</button>
    </div>
</section>

<section class="text-center">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; index as i">
                    <th scope="row">{{ i | number }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price | number }}</td>
                    <td>
                        <button type="button" class="btn btn-primary"
                            [routerLink]="['/products', product.id]">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
